:root {
    --color-background: #303030;
}

body {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 0;
    padding: 0;
    height: 100dvh;
}